{
  "ignition": {
    "config": {},
    "timeouts": {},
    "version": "2.1.0"
  },
  "passwd": {
    "users": [
     {
        "name": "{{ vm_username }}",
        "sshAuthorizedKeys": [
          "{{ ssh_public_key }}"
        ]
      }
    ]
  },
  "systemd": {},
  "storage": {}
}
