---
# This file lists the dependent packages for building open-vm-tools source tarball on Debian family guest OS
dependencies:
  # Basic build tools
  - gcc
  - g++
  - make
  - automake
  - libtool
  - pkg-config
  - lsof

  # Development libraries
  - libmspack-dev
  - libglib2.0-dev
  - libtirpc-dev
  - libpam0g-dev
  - libssl-dev

  # XML related dependencies
  - libxml2-dev
  - libxmlsec1-dev

  # X11 related dependencies
  - libx11-dev
  - libxext-dev
  - libxinerama-dev
  - libxi-dev
  - libxrender-dev
  - libxrandr-dev
  - libxtst-dev

  # GUI-related dependencies #
{% if guest_os_with_gui %}
  - libgtk-3-dev
  - libgtkmm-3.0-dev
  {% if guest_os_ansible_distribution == 'Ubuntu' and
         guest_os_ansible_distribution_ver is version('24.04', '>=') -%}
  - libgtk-4-dev
  - libgtkmm-4.0-dev
  {%- endif %}
{% endif %}
