binaries:
  - "/usr/bin/vm-support"
  - "{{ ovt_install_prefix }}/bin/vmtoolsd"
  - "{{ ovt_install_prefix }}/bin/vmware-checkvm"
  - "{{ ovt_install_prefix }}/bin/vmware-hgfsclient"
  - "{{ ovt_install_prefix }}/bin/vmware-namespace-cmd"
  - "{{ ovt_install_prefix }}/bin/vmware-rpctool"
  - "{{ ovt_install_prefix }}/bin/vmware-toolbox-cmd"
  - "{{ ovt_install_prefix }}/bin/vmware-xferlogs"
  - "{{ ovt_install_prefix }}/bin/vmhgfs-fuse"
  - "{{ ovt_install_prefix }}/bin/vmware-vmblock-fuse"
scripts:
  - "/etc/vmware-tools/poweroff-vm-default"
  - "/etc/vmware-tools/poweron-vm-default"
  - "/etc/vmware-tools/resume-vm-default"
  - "/etc/vmware-tools/scripts"
  - "/etc/vmware-tools/statechange.subr"
  - "/etc/vmware-tools/suspend-vm-default"
  - "/etc/vmware-tools/tools.conf.example"
  - "/etc/vmware-tools/scripts/vmware/network"
include:
  - "{{ ovt_install_prefix }}/include/vmGuestLib/vmSessionId.h"
  - "{{ ovt_install_prefix }}/include/vmGuestLib/vmGuestLib.h"
  - "{{ ovt_install_prefix }}/include/vmGuestLib/vm_basic_types.h"
  - "{{ ovt_install_prefix }}/include/vmGuestLib/includeCheck.h"
libraries:
  - "{{ ovt_install_prefix }}/lib/libguestlib.a"
  - "{{ ovt_install_prefix }}/lib/libguestlib.la"
  - "{{ ovt_install_prefix }}/lib/libguestlib.so.0.0.0"
  - "{{ ovt_install_prefix }}/lib/libhgfs.a"
  - "{{ ovt_install_prefix }}/lib/libhgfs.la"
  - "{{ ovt_install_prefix }}/lib/libhgfs.so.0.0.0"
  - "{{ ovt_install_prefix }}/lib/libvmtools.a"
  - "{{ ovt_install_prefix }}/lib/libvmtools.la"
  - "{{ ovt_install_prefix }}/lib/libvmtools.so.0.0.0"
  - "{{ ovt_install_prefix }}/lib/pkgconfig/vmguestlib.pc"
plugins:
    - "{{ ovt_install_prefix }}/lib/open-vm-tools/plugins/common/libvix.so"
    - "{{ ovt_install_prefix }}/lib/open-vm-tools/plugins/common/libvix.la"
    - "{{ ovt_install_prefix }}/lib/open-vm-tools/plugins/common/libhgfsServer.so"
    - "{{ ovt_install_prefix }}/lib/open-vm-tools/plugins/common/libhgfsServer.la"
    - "{{ ovt_install_prefix }}/lib/open-vm-tools/plugins/vmsvc/libtimeSync.so"
    - "{{ ovt_install_prefix }}/lib/open-vm-tools/plugins/vmsvc/libpowerOps.so"
    - "{{ ovt_install_prefix }}/lib/open-vm-tools/plugins/vmsvc/libvmbackup.so"
    - "{{ ovt_install_prefix }}/lib/open-vm-tools/plugins/vmsvc/libguestInfo.so"
