# This file lists the dependent packages and configure options for
# building open-vm-tools source tarball on FreeBSD system
dependencies:
  - gtar
  - gzip
  - autotools
  - automake
  - libtool
  - pkgconf
  - glib
  - libdnet
  - libxml2
  - libX11
  - libXext
  - libXi
  - libXinerama
  - libXrandr
  - libXrender
  - libXtst
  - gtk3
  - gtkmm30
  - perl5
  - doxygen
configure_options:
  - "--disable-vgauth"
  - "--disable-deploypkg"
