# This file lists the dependent packages for building open-vm-tools source tarball
{% if guest_os_family == 'Debian' %}
dependencies:
  - gcc
  - g++
  - make
  - automake
  - libtool
  - pkg-config
  - libmspack-dev
  - libglib2.0-dev
  - libpam0g-dev
  - libssl-dev
  - libxml2-dev
  - libxmlsec1-dev
  - libx11-dev
  - libxext-dev
  - libxinerama-dev
  - libxi-dev
  - libxrender-dev
  - libxrandr-dev
  - libxtst-dev
  - libgtk-3-dev
  - libgtkmm-3.0-dev
  - lsof
configure_options: []
{% endif %}
