binaries:
  - "/usr/bin/vm-support"
  - "/usr/bin/vmtoolsd"
  - "/usr/bin/vmware-checkvm"
  - "/usr/bin/vmware-hgfsclient"
  - "/usr/bin/vmware-namespace-cmd"
  - "/usr/bin/vmware-rpctool"
  - "/usr/bin/vmware-toolbox-cmd"
  - "/usr/bin/vmware-xferlogs"
  - "/usr/bin/vmware-user-suid-wrapper"
  - "/usr/bin/VGAuthService"
  - "/usr/bin/vmware-vgauth-smoketest"
  - "/usr/bin/vmware-vgauth-cmd"
  - "/usr/bin/vmware-alias-import"
scripts:
  - "/etc/vmware-tools/poweroff-vm-default"
  - "/etc/vmware-tools/poweron-vm-default"
  - "/etc/vmware-tools/resume-vm-default"
  - "/etc/vmware-tools/scripts"
  - "/etc/vmware-tools/statechange.subr"
  - "/etc/vmware-tools/suspend-vm-default"
  - "/etc/vmware-tools/tools.conf.example"
  - "/etc/vmware-tools/scripts/vmware/network"
  - "/etc/vmware-tools/vgauth"
  - "/etc/vmware-tools/vgauth.conf"
  - "/etc/vmware-tools/vgauth/schemas/xenc-schema.xsd"
  - "/etc/vmware-tools/vgauth/schemas/catalog.xml"
  - "/etc/vmware-tools/vgauth/schemas/datatypes.dtd"
  - "/etc/vmware-tools/vgauth/schemas/XMLSchema-instance.xsd"
  - "/etc/vmware-tools/vgauth/schemas/XMLSchema.dtd"
  - "/etc/vmware-tools/vgauth/schemas/saml-schema-assertion-2.0.xsd"
  - "/etc/vmware-tools/vgauth/schemas/xmldsig-core-schema.xsd"
  - "/etc/vmware-tools/vgauth/schemas/XMLSchema.xsd"
  - "/etc/vmware-tools/vgauth/schemas/XMLSchema-hasFacetAndProperty.xsd"
  - "/etc/vmware-tools/vgauth/schemas/xml.xsd"
include:
  - "/usr/include/vmGuestLib/vmSessionId.h"
  - "/usr/include/vmGuestLib/vmGuestLib.h"
  - "/usr/include/vmGuestLib/vm_basic_types.h"
  - "/usr/include/vmGuestLib/includeCheck.h"
  - "/usr/include/libDeployPkg/linuxDeployment.h"
  - "/usr/include/libDeployPkg/log.h"
  - "/usr/include/libDeployPkg/guestrpc.h"
  - "/usr/include/libDeployPkg/deploypkg.h"
  - "/usr/include/libDeployPkg/process.h"
  - "/usr/include/libDeployPkg/imgcust-api.h"
  - "/usr/include/libDeployPkg/guestcust-events.h"
  - "/usr/include/libDeployPkg/vm_basic_types.h"
  - "/usr/include/libDeployPkg/includeCheck.h"
  - "/usr/include/libDeployPkg/deployPkgFormat.h"
libraries:
  - "/usr/lib/libguestlib.a"
  - "/usr/lib/libguestlib.la"
  - "/usr/lib/libguestlib.so.0.0.0"
  - "/usr/lib/libhgfs.a"
  - "/usr/lib/libhgfs.la"
  - "/usr/lib/libhgfs.so.0.0.0"
  - "/usr/lib/libvmtools.a"
  - "/usr/lib/libvmtools.la"
  - "/usr/lib/libvmtools.so.0.0.0"
  - "/usr/lib/pkgconfig/vmguestlib.pc"
  - "/usr/lib/libDeployPkg.a"
  - "/usr/lib/libDeployPkg.la"
  - "/usr/lib/libDeployPkg.so.0.0.0"
  - "/usr/lib/libguestStoreClient.a"
  - "/usr/lib/libguestStoreClient.la"
  - "/usr/lib/libguestStoreClient.so.0.0.0"
  - "/usr/lib/libvgauth.a"
  - "/usr/lib/libvgauth.la"
  - "/usr/lib/libvgauth.so.0.0.0"
  - "/usr/lib/pkgconfig/libDeployPkg.pc"
plugins:
    - "/usr/lib/open-vm-tools/plugins/common/libvix.so"
    - "/usr/lib/open-vm-tools/plugins/common/libvix.la"
    - "/usr/lib/open-vm-tools/plugins/common/libhgfsServer.so"
    - "/usr/lib/open-vm-tools/plugins/common/libhgfsServer.la"
    - "/usr/lib/open-vm-tools/plugins/vmsvc/libtimeSync.so"
    - "/usr/lib/open-vm-tools/plugins/vmsvc/libappInfo.so"
    - "/usr/lib/open-vm-tools/plugins/vmsvc/libgdp.so"
    - "/usr/lib/open-vm-tools/plugins/vmsvc/libpowerOps.so"
    - "/usr/lib/open-vm-tools/plugins/vmsvc/libvmbackup.so"
    - "/usr/lib/open-vm-tools/plugins/vmsvc/libresolutionKMS.so"
    - "/usr/lib/open-vm-tools/plugins/vmsvc/libguestStore.so"
    - "/usr/lib/open-vm-tools/plugins/vmsvc/libguestInfo.so"
    - "/usr/lib/open-vm-tools/plugins/vmsvc/libcomponentMgr.so"
    - "/usr/lib/open-vm-tools/plugins/vmsvc/libdeployPkgPlugin.so"
vmusr_plugins:
    - "/usr/lib/open-vm-tools/plugins/vmusr/libdesktopEvents.so"
    - "/usr/lib/open-vm-tools/plugins/vmusr/libdndcp.so"
    - "/usr/lib/open-vm-tools/plugins/vmusr/libresolutionSet.so"
