{% if guest_os_family in ['RedHat', 'Suse', 'Debian'] %}
    {%- include (guest_os_family | lower) ~ '_ovt_build_config.tmpl' %}
{% elif guest_os_ansible_distribution == 'VMware Photon OS' %}
    {%- include 'photon_ovt_build_config.tmpl' %}
{% endif %}
