# This file lists the dependent packages for building open-vm-tools source tarball
dependencies:
{% if guest_os_family == 'Debian' %}
  - gcc
  - g++
  - make
  - automake
  - libtool
  - pkg-config
  - libmspack-dev
  - libglib2.0-dev
  - libtirpc-dev
  - libpam0g-dev
  - libssl-dev
  - libxml2-dev
  - libxmlsec1-dev
  - libx11-dev
  - libxext-dev
  - libxinerama-dev
  - libxi-dev
  - libxrender-dev
  - libxrandr-dev
  - libxtst-dev
  - libgtk-3-dev
  - libgtkmm-3.0-dev
  - lsof
{% elif guest_os_family == 'Suse' %}
  - autoconf
  - automake
  - doxygen
  - fuse3
  - fuse3-devel
  - gcc
  - gcc-c++
  - gdk-pixbuf-xlib-devel
  - glib2-devel
  - gtk3-devel
  - gtkmm3-devel
  - libcurl-devel
  - libdnet-devel
  - libdrm-devel
  - libmspack-devel
  - libopenssl-devel
  - libtirpc-devel
  - libtool
  - libudev-devel
  - libX11-devel
  - libXext-devel
  - libXi-devel
  - libXinerama-devel
  - libxml2-devel
  - libXrandr-devel
  - libXrender-devel
  - libXtst-devel
  - make
  - net-tools
  - pam-devel
  - pkg-config
  - procps-devel
  - rpcgen
  - rpm-build
  - udev
  - update-desktop-files
  - valgrind-devel
  - xmlsec1-devel
  - xmlsec1-openssl-devel
  - xorg-x11-devel
{% endif %}
{% if guest_os_ansible_distribution == 'Ubuntu' and guest_os_ansible_distribution_ver == '24.04' %}
configure_options:
  - "--without-x"
{% endif %}
