---
# This file lists the dependent packages for building open-vm-tools source tarball on VMware Photon OS
dependencies:
  # Basic build tools
  - autoconf
  - automake
  - gcc
  - make
  - pkg-config
  - rpm-build

  # Documentation
  - doxygen

  # Development libraries
  - build-essential
  - glib-devel
  - glibc-devel
  - fuse-devel
  - libmspack-devel
  - libtirpc-devel
  - libtool
  - openssl-devel
  - procps-ng-devel
  - systemd-devel
  - Linux-PAM-devel
  - libltdl-devel
  - curl-devel
  - zlib-devel
{% if guest_os_ansible_distribution_major_ver | int >= 4 %}
  - libdrm-devel
  {% if guest_os_ansible_distribution_major_ver | int == 5 -%}
  - libxcrypt-devel
  {%- endif %}
{% endif %}

  # XML related dependencies
  - libxml2-devel
  - xmlsec1-devel

  # Additional tools
  - rpcsvc-proto
  - lsof
