---
# This file lists the dependent packages for building open-vm-tools source tarball on RedHat family guest OS
dependencies:
  # Basic build tools
  - autoconf
  - automake
  - gcc
  - gcc-c++
  - make
  - pkg-config
  - rpm-build

  # Documentation
  - doxygen

  # Development libraries
  - fuse-devel
  - glib2-devel
  - libdrm-devel
  - libicu-devel
  - libmspack-devel
  - libtirpc-devel
  - libtool
  - libtool-ltdl-devel
  - openssl-devel
  - pam-devel
  - systemd-devel
  - valgrind-devel

  # X11 related dependencies
  - libX11-devel
  - libXext-devel
  - libXi-devel
  - libXinerama-devel
  - libXrandr-devel
  - libXrender-devel
  - libXtst-devel

  # XML related dependencies
  - libxml2-devel
  - xmlsec1-devel
  - xmlsec1-openssl-devel

  # Additional tools
  - rpcgen
  - lsof

  # GUI-related dependencies #
{% if guest_os_ansible_distribution == 'Fedora' %}
  # Fedora 36 or later has both of GTK4 and GTK3
  - gtk3-devel
  - gtkmm3*-devel
  - gtk4-devel
  - gtkmm4*-devel
{% elif guest_os_with_gui %}
  # RHEL or RHEL-like OS 10.x has GTK 4
  {%- if guest_os_ansible_distribution_major_ver | int >= 10 %}
  - gtk4-devel
  - gtkmm4*-devel

  {%- else %}
  # RHEL or RHEL-like OS 8.x, 9.x has GTK 3
  - gtk3-devel
  - gtkmm3*-devel
  {%- endif %}
{%- endif %}
