---
# This file lists the dependent packages for building open-vm-tools source tarball on SuSE family guest OS
dependencies:
  # Basic build tools
  - autoconf
  - automake
  - gcc
  - gcc-c++
  - make
  - pkg-config
  - rpm-build

  # Development libraries
  - fuse3
  - fuse3-devel
  - glib2-devel
  - libcurl-devel
  - libdrm-devel
  - libmspack-devel
  - libopenssl-devel
  - libtirpc-devel
  - libtool
  - libudev-devel
  - pam-devel
  - procps-devel
  - valgrind-devel

  # X11 related dependencies
  - libX11-devel
  - libXext-devel
  - libXi-devel
  - libXinerama-devel
  - libXrandr-devel
  - libXrender-devel
  - libXtst-devel

  # XML related dependencies
  - libxml2-devel
  - xmlsec1-devel
  - xmlsec1-openssl-devel

  # System utilities
  - net-tools
  - udev
  - update-desktop-files

  # Additional tools
  - rpcgen

  # GDK Pixbuf dependencies
  - gdk-pixbuf-xlib-devel

  # GUI-related dependencies #
  - gtk3-devel
  - gtkmm3-devel

{% if guest_os_ansible_distribution_major_ver | int < 16 %}
  - doxygen
  - libdnet-devel
  - xorg-x11-devel
{% endif %}
