[Unit]
Description=Service for virtual machines hosted on VMware
Documentation=http://open-vm-tools.sourceforge.net/about.php
ConditionVirtualization=vmware
DefaultDependencies=no
Before=cloud-init-local.service
Requires=vgauthd.service
After=vgauthd.service
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
ExecStart={{ ovt_install_prefix }}/bin/vmtoolsd
TimeoutStopSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
Also=vgauthd.service
