[defaults]
callback_plugins =  ./plugin
# host_key_checking = False
default_remote_user = root
display_skipped_hosts = False
remote_tmp = /tmp
retry_files_enabled = False
callback_whitelist = timer

# When Ansible version >= 2.10, and Ansible collections are not installed
# in the default path, then set this parameter to the path of installed collections.
# collections_paths = path_to_installed_collections

[ssh_connection]
retries = 5
