{% if guest_os_ansible_distribution == "Ubuntu" and guest_os_edition == "Server" %}
    {%- include 'ubuntu_netplan_conf.j2 -%}
{% else %}
auto lo
  iface lo inet loopback
{% for dev in network_adapters_after_hotadd %}

auto {{ dev }}
  iface {{ dev }} inet dhcp
  {%- if dev != eth0_name %}
  metric 200
  allow-hotplug {{ dev }}
  {%- else %}
  metric 100
  {%- endif %}
{% endfor %}
{% endif %}
