auto lo
  iface lo inet loopback
{% for dev in eth_after_hotadd %}

auto {{ dev }}
  iface {{ dev }} inet dhcp
{% if dev != eth0_name %}
  metric 200
  allow-hotplug {{ dev }}
{% else %}
  metric 100
{% endif %}
{% endfor %}
