{% if guest_os_ansible_distribution == "Ubuntu" and guest_os_network_manager == "netplan" %}
    {%- include 'ubuntu_netplan_conf.j2' -%}
{% else %}
auto lo
iface lo inet loopback

auto {{ eth0_name }}
iface {{ eth0_name }} inet dhcp
  metric 100

auto {{ new_network_adapter }}
allow-hotplug {{ new_network_adapter }}
iface {{ new_network_adapter }} inet {{ new_nic_ipv4_method }}
  metric 200
  {% if new_nic_ipv4_method == 'static' -%}
  address {{ new_nic_ipv4 }}/{{ new_nic_net_prefix }}
  gateway {{ new_nic_gateway }}
  {%- endif %}
{% endif %}
