{% if adapter_type == 'pvrdma' %}
ifconfig_{{ new_network_adapter }}="inet {{ new_nic_ipv4 }}/{{ new_nic_net_prefix }}"
defaultrouter="{{ new_nic_gateway }}"
{% else %}
ifconfig_{{ new_network_adapter }}="DHCP"
{% endif %}