DEVICE={{ new_network_adapter }}
NAME={{ new_network_adapter }}
ONBOOT=yes
DEFROUTE=no
{% if new_nic_ipv4_method == 'dhcp' %}
BOOTPROTO=dhcp
{% elif new_nic_ipv4_method == 'static' %}
BOOTPROTO='static'
IPADDR='{{ new_nic_ipv4 }}/{{ new_nic_net_prefix }}'
GATEWAY='{{ new_nic_gateway }}'
{% endif %}
