{% if new_network_adapter_mac == guest_primary_nic_mac %}
NAME=Primary_{{ new_network_adapter_name }}
{% else %}
NAME=Secondary_{{ new_network_adapter_name }}
{% endif %}
HWADDR='{{ new_network_adapter_mac }}'
STARTMODE='auto'
BOOTPROTO='{{ new_nic_ipv4_method }}'
{% if new_nic_ipv4_method == 'static' %}
IPADDR='{{ new_nic_ipv4 }}/{{ new_nic_net_prefix }}'
GATEWAY='{{ new_nic_gateway }}'
{% endif %}
