NAME='{{ new_network_adapter_name }}'
PERSISTENT_NAME='{{ new_network_adapter_name }}'
HWADDR='{{ new_network_adapter_mac }}'
STARTMODE='auto'
BOOTPROTO='{{ new_nic_ipv4_method }}'
{% if new_nic_ipv4_method == 'static' %}
IPADDR='{{ new_nic_ipv4 }}/{{ new_nic_net_prefix }}'
GATEWAY='{{ new_nic_gateway }}'
{% endif %}
