[Match]
Name={{ new_network_adapter }}

{% if new_nic_ipv4_method == 'dhcp' %}
[Network]
DHCP=yes

[DHCP]
UseMTU=true
UseDomains=true
{% else %}
[Network]
Address={{ new_nic_ipv4 }}/{{ new_nic_net_prefix }}

[Route]
Gateway={{ new_nic_gateway }}
Destination={{ new_nic_network }}/{{ new_nic_net_prefix }}
{% endif %}
