network:
  version: 2
  renderer: networkd
  ethernets:
    {{ eth0_name }}:
      dhcp4: true
      dhcp4-overrides:
        route-metric: 100
    {{ new_network_adapter }}:
{% if adapter_type != 'pvrdma' %}
      dhcp4: true
      dhcp4-overrides:
        route-metric: 200
{% else %}
      dhcp4: false
      addresses:
        - {{ new_nic_ipv4 }}/{{ new_nic_net_prefix }}
      routes:
        - to: {{ new_nic_network }}
          via: {{ new_nic_gateway }}
          metric: 200
{% endif %}
