network:
  version: 2
  renderer: networkd
  ethernets:
    {{ guest_primary_nic_name }}:
      match:
        macaddress: {{ guest_primary_nic_mac }}
      dhcp4: true
      dhcp4-overrides:
        route-metric: 100
{% if new_network_adapter_name is defined and new_network_adapter_name and new_network_adapter_name != guest_primary_nic_name %}
    {{ new_network_adapter_name }}:
      match:
        macaddress: {{ new_network_adapter_mac }}
      {% if new_nic_ipv4_method == 'dhcp' -%}
      dhcp4: true
      dhcp4-overrides:
        route-metric: 200
      {% else -%}
      dhcp4: false
      addresses:
        - {{ new_nic_ipv4 }}/{{ new_nic_net_prefix }}
      routes:
        - to: {{ new_nic_network }}
          via: {{ new_nic_gateway }}
          metric: 200
      {%- endif %}
{% endif %}
