# Copyright 2025 VMware, Inc.
# SPDX-License-Identifier: BSD-2-Clause
---
# Update systemd network config file for primary or secondary network adapter
#
- name: "Set fact of systemd network config template and directory on {{ vm_guest_os_distribution }}"
  ansible.builtin.set_fact:
    systemd_network_config_template: "systemd_network_conf.j2"
    systemd_network_config_dir: "{{ network_config_path | dirname }}"

- name: "Get stat info of systemd network config directory"
  include_tasks: ../utils/get_file_stat_info.yml
  vars:
    guest_file_path: "{{ systemd_network_config_dir }}"

- name: "Check systemd network config directory exists"
  ansible.builtin.assert:
    that:
      - guest_file_exists
    fail_msg: "Systemd network config directory '{{ systemd_network_config_dir }}' doesn't exist"
    success_msg: "Systemd network config directory '{{ systemd_network_config_dir }}' exists"

- name: "Update systemd network config for the primary network adapter '{{ network_adapter_name }}'"
  when: network_adapter_name == eth0_name
  block:
    - name: "Find existing systemd network config files"
      ansible.builtin.shell: "find {{ systemd_network_config_dir }} -name '*.network'"
      delegate_to: "{{ vm_guest_ip }}"
      register: find_network_config_result

    - name: "Remove systemd existing network config files"
      ansible.builtin.file:
        path: "{{ item }}"
        state: "absent"
      with_items: "{{ find_network_config_result.stdout_lines }}"
      delegate_to: "{{ vm_guest_ip }}"
      when:
        - find_network_config_result.stdout_lines is defined
        - find_network_config_result.stdout_lines | length > 0

    - name: "Set facts of the primary network adapter config on {{ vm_guest_os_distribution }}"
      ansible.builtin.set_fact:
        new_systemd_network_config_path: "{{ systemd_network_config_dir }}/10-{{ eth0_name }}.network"
        new_network_adapter: "{{ eth0_name }}"
        new_nic_ipv4_method: "dhcp"

- name: "Set fact of the secondary network adapter config file on {{ vm_guest_os_distribution }}"
  ansible.builtin.set_fact:
    new_systemd_network_config_path: "{{ systemd_network_config_dir }}/99-{{ network_adapter_name }}.network"
  when: network_adapter_name != eth0_name

- name: "Create a new systemd network config file '{{ new_systemd_network_config_path }}'"
  ansible.builtin.template:
    src: "{{ systemd_network_config_template }}"
    dest: "{{ new_systemd_network_config_path }}"
    mode: "0666"
  delegate_to: "{{ vm_guest_ip }}"

- name: "Update fact of systemd network config file"
  ansible.builtin.set_fact:
    network_config_path: "{{ new_systemd_network_config_path }}"
