#cloud-config
autoinstall:
  version: 1
  early-commands:
    - echo '{{ autoinstall_start_msg }}' >/dev/ttyS0
  refresh-installer:
    update: no
  locale: en_US
  keyboard:
    layout: en
    variant: uk
  user-data:
    disable_root: false
    ssh_pwauth: yes
    chpasswd:
      list: |
        root:{{ vm_password_hash }}
      expire: false
{% if new_user is defined and new_user != 'root' %}
    users:
      - name: {{ new_user }}
        passwd: {{ vm_password_hash }}
        sudo: ALL=(ALL) NOPASSWD:ALL
        ssh_authorized_keys:
          - {{ ssh_public_key }}
{% endif %}
  ssh:
    install-server: true
    allow-pw: yes
    authorized-keys:
      - {{ ssh_public_key }}
  storage:
    layout:
      name: lvm
  identity:
    hostname: ubuntu
    username: {{ vm_username }}
    password: {{ vm_password_hash }}
  packages:
    - net-tools
    - sg3-utils
  late-commands:
    - rm -f /etc/cloud/cloud.cfg.d/*-installer.cfg 2>/dev/null
    - sed -i 's/^#PermitRootLogin .*/PermitRootLogin yes/' /target/etc/ssh/sshd_config
    - echo '{{ autoinstall_complete_msg }}' >/dev/ttyS0
