#cloud-config
autoinstall:
  version: 1
  early-commands:
    - echo '{{ autoinstall_start_msg }}' >/dev/ttyS0
  refresh-installer:
    update: no
  locale: en_US.UTF-8
  keyboard:
    layout: us
    variant: us
  user-data:
    package_update: false
    package_upgrade: false
    disable_root: false
    ssh_pwauth: yes
    timezone: America/New_York
    chpasswd:
      list: |
        root:{{ vm_password_hash }}
      expire: false
    runcmd:
      - echo '{{ autoinstall_complete_msg }}' >/dev/ttyS0
{% if new_user is defined and new_user != 'root' %}
    users:
      - name: {{ new_user }}
        passwd: {{ vm_password_hash }}
        sudo: ALL=(ALL) NOPASSWD:ALL
        ssh_authorized_keys:
          - {{ ssh_public_key }}
{% endif %}
  network:
    network:
      version: 2
      ethernets:
        en*:
          dhcp4: true
          dhcp-identifier: mac
  ssh:
    install-server: true
    allow-pw: yes
    authorized-keys:
      - {{ ssh_public_key }}
  storage:
    layout:
      name: lvm
  identity:
    hostname: ubuntu
    username: {{ vm_username }}
    password: {{ vm_password_hash }}
  apt:
    preserve_sources_list: false
    geoip: true
  packages:
    - net-tools
    - sg3-utils
  late-commands:
    - rm -f /etc/cloud/cloud.cfg.d/*-installer.cfg 2>/dev/null
    - echo 'Acquire::ForceIPv4 "true";' >>/etc/apt/apt.conf.d/99force-ipv4
    - sed -i 's/^#PermitRootLogin .*/PermitRootLogin yes/' /target/etc/ssh/sshd_config
    - sed -i 's/^#PasswordAuthentication .*/PasswordAuthentication yes/' /target/etc/ssh/sshd_config
