#cloud-config
chpasswd:
  list: |
    root:{{ vm_password_hash }}
  expire: false
ssh_pwauth: true
disable_root: false
repo_upgrade: none
ssh_authorized_keys:
  - {{ ssh_public_key }}

{% if new_user is defined and new_user != 'root' %}
users:
  - name: {{ new_user }}
    passwd: {{ vm_password_hash }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - {{ ssh_public_key }}
{% endif %}

runcmd:
{% for cmd in cloudinit_runcmd %}
  - {{ cmd }}
{% endfor %}
  - echo "Disable repo upgrade in cloud-init config" >/dev/ttyS0
  - sed -i "s/^repo_upgrade:.*/repo_upgrade: none/" /etc/cloud/cloud.cfg

write_files:
  - content: |
      network:
        config: disabled
    path: /etc/cloud/cloud.cfg.d/80_disable_network_after_firstboot.cfg
    permissions: '0644'

final_message: "{{ cloudinit_final_msg }}"
