#cloud-config
chpasswd:
  list: |
    ec2-user:{{ vm_password_hash }}
    root:{{ vm_password_hash }}
  expire: false
ssh_pwauth: true
disable_root: false
repo_upgrade: none
ssh_authorized_keys:
  - {{ ssh_public_key }}

write_files:
  - content: |
      network:
        config: disabled
    path: /etc/cloud/cloud.cfg.d/80_disable_network_after_firstboot.cfg
    permissions: '0644'
