#cloud-config
ssh_authorized_keys:
  - {{ ssh_public_key }}

packages:
  - sudo
  - sg3_utils
  - chrony
  - tar
  - gawk

ssh_pwauth: yes
disable_root: false

{% if new_user is defined and new_user != 'root' %}
users:
  - name: {{ new_user }}
    passwd: {{ vm_password_hash }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - {{ ssh_public_key }}
{% endif %}

runcmd:
  - [systemctl, start, sshd.socket]
  - [systemctl, stop, iptables]
  - [systemctl, disable, iptables]
  - [systemctl, disable, chronyd]
  - [systemctl, disable, chrony-wait]
