#cloud-config
ssh_authorized_keys:
  - {{ ssh_public_key }}

packages:
  - sudo
  - sg3_utils
  - chrony
  - tar
  - gawk

ssh_pwauth: yes
disable_root: false

users:
  - name: root
    lock_passwd: false
    hashed_passwd: {{ vm_password_hash }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - {{ ssh_public_key }}
{% if new_user is defined and new_user != 'root' %}
  - name: {{ new_user }}
    passwd: {{ vm_password_hash }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - {{ ssh_public_key }}
{% endif %}

bootcmd:
  - /bin/sed -E -i 's/^root:([^:]+):.*$/root:\1:17532:0:99999:0:::/' /etc/shadow

runcmd:
  - [systemctl, stop, iptables]
  - [systemctl, disable, iptables]
  - [systemctl, disable, chronyd]
  - [systemctl, disable, chrony-wait]
