#cloud-config
chpasswd:
  list: |
    root:{{ vm_password_hash }}
  expire: false
ssh_pwauth: true
disable_root: false
ssh_authorized_keys:
  - {{ ssh_public_key }}

runcmd:
  - sed -i 's/^#*PermitRootLogin .*/PermitRootLogin yes/' /etc/ssh/sshd_config
  - systemctl restart sshd

final_message: "The system is finally up, after $UPTIME seconds"
