#cloud-config
chpasswd:
  list: |
    root:{{ vm_password_hash }}
  expire: false
ssh_pwauth: true
disable_root: false
ssh_authorized_keys:
  - {{ ssh_public_key }}

{% if new_user is defined and new_user != 'root' %}
users:
  - name: {{ new_user }}
    passwd: {{ vm_password_hash }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - {{ ssh_public_key }}
{% endif %}
packages:
  - net-tools
  - sg3-utils
  - ndctl

runcmd:
{% for cmd in cloudinit_runcmd %}
  - {{ cmd }}
{% endfor %}
  - echo 'Force apt-get to use IPv4 address' >/dev/ttyS0
  - echo 'Acquire::ForceIPv4 "true";' >>/etc/apt/apt.conf.d/99force-ipv4

final_message: "{{ cloudinit_final_msg }}"
