# Copyright 2021-2024 VMware, Inc.
# SPDX-License-Identifier: BSD-2-Clause
---
# Reconfigure guest OS on existing VM to prepare for GOS validation testing
#
# For Ubuntu, Debian and FreeBSD, modify sshd config to keep connection alive
- name: "Keep SSH connection alive"
  include_tasks: ../utils/ssh_keep_alive.yml
  when: guest_os_family in ["Debian", "FreeBSD"]

- name: "Diable auto update for Ubuntu"
  include_tasks: ../utils/disable_auto_update.yml
  when: guest_os_ansible_distribution in ["Ubuntu"]

- name: "Reconfigure VMware Photon OS"
  when: guest_os_ansible_distribution == "VMware Photon OS"
  block:
    - name: "Get VMware Tools status"
      include_tasks: ../../common/vm_get_vmtools_status.yml
      when: vmtools_is_running is undefined or not vmtools_is_running

    - name: "Disable iptables to allow ping"
      include_tasks: ../utils/disable_iptables.yml
      when:
        - (new_vm is undefined) or (not new_vm | bool)
        - vmtools_is_running

    # VMware Photon OS needs to disable DNSSEC and DNSOverTLS while connecting online repo
    - name: "Disable DNSSEC and DNSOverTLS settings for VMware Photon OS"
      include_tasks: ../utils/set_dns.yml

    - name: "Update VMware Photon OS repo cache"
      include_tasks: ../utils/repo_update.yml
      vars:
        check_update_cmd: "tdnf makecache"

    - name: "Install 'sudo', 'gawk', 'python3-rpm', 'tar' on VMware Photon OS"
      include_tasks: ../utils/install_uninstall_package.yml
      vars:
        package_list: ["sudo", "gawk", "python3-rpm", "tar"]
        package_state: "latest"

- name: "Reconfigure {{ guest_os_ansible_distribution }}"
  when: guest_os_family == "Suse"
  block:
    - name: "Check 'PackageKit' service state"
      include_tasks: ../utils/get_service_info.yml
      vars:
        service_name: "packagekit.service"

    - name: "Mask 'PackageKit' service"
      when:
        - service_info
        - service_info.state is defined
      block:
        - name: "Mask 'PackageKit' service"
          ansible.builtin.command: "systemctl mask packagekit"
          delegate_to: "{{ vm_guest_ip }}"

        - name: "Reboot VM to make sure packagekit.service is disabled and stopped"
          include_tasks: ../utils/reboot.yml

- name: "Reconfigure FreeBSD"
  when: guest_os_family == "FreeBSD"
  block:
    - name: "Set FreeBSD kernel state"
      include_tasks: ../utils/freebsd_set_kernel_state.yml
      when: new_vm is undefined or not new_vm

    - name: "Update /etc/fstab with partition UUID"
      include_tasks: ../utils/freebsd_update_fstab_with_uuid.yml
