# Copyright 2021-2022 VMware, Inc.
# SPDX-License-Identifier: BSD-2-Clause
---
# For Ubuntu or Debian , modify sshd config to keep connection alive
- include_tasks: ../utils/ssh_keep_alive.yml
  when: guest_os_family == "Debian"

# Diable auto update for Ubuntu
- include_tasks: ../utils/disable_auto_update.yml
  when: guest_os_ansible_distribution in ["Ubuntu"]

# Hit issue in Ubuntu 22.04: Temporary failure in name resolution. Restarting servcie can fix it
- include_tasks: service_operation.yml
  vars:
    service_name: "systemd-resolved"
    service_enabled: true
    service_state: "restarted"
  when: 
    - guest_os_ansible_distribution == "Ubuntu"
    - guest_os_ansible_distribution_ver == "22.04"

- block:
    - include_tasks: ../../common/vm_get_vmtools_status.yml
      when: vmtools_is_running is undefined or not vmtools_is_running

    - include_tasks: ../utils/disable_iptables.yml
      when:
        - (new_vm is undefined) or (not new_vm | bool)
        - vmtools_is_running

    # Photon OS needs to disable DNSSEC and DNSOverTLS while connecting online repo
    - include_tasks: ../utils/set_dns.yml

    # Update photon repo cache
    - include_tasks: ../utils/repo_update.yml
      vars:
        check_update_cmd: "tdnf makecache"

    - include_tasks: ../utils/get_installed_package_info.yml
      vars:
        package_name: "gawk"

    - include_tasks: ../utils/install_uninstall_package.yml
      vars:
        package_name: "gawk"
        package_state: "present"
      when:
        - package_info is defined
        - package_info | length == 0
  when: guest_os_ansible_distribution == "VMware Photon OS"

- block:
    - include_tasks: ../utils/get_service_info.yml
      vars:
        service_name: "packagekit.service"

    - block:
        - name: "Disable and stop PackageKit Service"
          ansible.builtin.service:
            name: 'packagekit.service'
            state: 'stopped'
            enabled: false
          delegate_to: "{{ vm_guest_ip }}"

        # Reboot VM to make sure packagekit.service is disabled and stopped
        - include_tasks: ../utils/reboot.yml
      when:
        - service_info
        - service_info.state is defined
        - service_info.state in ['active', 'running']

    # Remove PackageKit
    - include_tasks: ../utils/get_installed_package_info.yml
      vars:
        package_name: "PackageKit"

    - include_tasks: ../utils/install_uninstall_package.yml
      vars:
        package_name: "PackageKit"
        package_state: "absent"
      when:
        - package_info is defined
        - package_info | length > 0
  when: guest_os_ansible_distribution == "SLED"
