#cloud-config
autoinstall:
  version: 1
  early-commands:
    - ping -c 5 127.0.0.1
  locale: en_US.UTF-8
  keyboard:
    layout: us
  network:
    accept-default: yes
  storage:
    layout:
      name: direct
  timezone: US/Eastern
  identity:
    hostname: ubuntu
    realname: ubuntu
    username: {{ vm_username }}
    password: {{ vm_password_hash }}
  user-data:
    disable_root: false
    ssh_pwauth: yes
    chpasswd:
      list: |
        root:{{ vm_password_hash }}
      expire: false
{% if new_user is defined and new_user != 'root' %}
    users:
      - name: {{ new_user }}
        passwd: {{ vm_password_hash }}
        sudo: ALL=(ALL) NOPASSWD:ALL
        ssh_authorized_keys:
          - {{ ssh_public_key }}
{% endif %}
  ssh:
    install-server: true
    allow-pw: yes
    authorized-keys:
      - {{ ssh_public_key }}
  packages:
    - build-essential
    - cloud-init
    - openssh-server
    - open-vm-tools
    - open-vm-tools-desktop
  late-commands:
    - rm -f /etc/cloud/cloud.cfg.d/*-installer.cfg 2>/dev/null
    - sed -i 's/^#PermitRootLogin .*/PermitRootLogin yes/' /target/etc/ssh/sshd_config
    - sed -i 's/^#PasswordAuthentication .*/PasswordAuthentication yes/' /target/etc/ssh/sshd_config
  shutdown: 'poweroff'
