# Copyright 2022-2023 VMware, Inc.
# SPDX-License-Identifier: BSD-2-Clause
---
# Shutdown guest OS before execute guest customization
- include_tasks: ../../common/vm_set_power_state.yml
  vars:
    vm_power_state_set: 'shutdown-guest'

# Remove network adapters to leave only 1 for testing
- block:
    - name: Set fact of the network adapter list to be removed
      ansible.builtin.set_fact:
        ovf_vm_network_remove: "{{ (ovf_vm_hardware_config.network | sort(attribute='label'))[1:] }}"
    - name: Display the network adapter list to be removed
      ansible.builtin.debug: var=ovf_vm_network_remove
    - include_tasks: ../../common/vm_remove_network_adapter.yml
      vars:
        netadapter_mac_addr: "{{ item.mac }}"
      with_items: "{{ ovf_vm_network_remove }}"
  when:
    - ovf_vm_hardware_config is defined
    - ovf_vm_hardware_config.network is defined
    - ovf_vm_hardware_config.network | length > 1

# Do guest customization to set Administrator user
# password and execute script
- include_tasks: execute_win_gosc.yml
- include_tasks: ../../common/vm_wait_gosc_completed.yml

# - include_tasks: ../../common/vm_get_ip_from_vmtools.yml
# - name: "Print VM guest IP address"
#   ansible.builtin.debug: var=vm_guest_ip
- include_tasks: ../utils/win_check_winrm.yml
  vars:
    win_check_winrm_timeout: 1800
- name: "Wait another 1 minute after OS becomes connectable"
  ansible.builtin.pause:
    minutes: 1
- include_tasks: ../utils/add_windows_host.yml
