# Copyright 2023 VMware, Inc.
# SPDX-License-Identifier: BSD-2-Clause
---
# Manage advanced settings on an ESXi host
# Parameters:
#   esxi_advanced_settings: A dictionary of advanced system settings to config

- name: "Check 'esxi_advanced_settings' parameter value is valid"
  ansible.builtin.assert:
    that:
      - esxi_advanced_settings is defined
      - esxi_advanced_settings | ansible.builtin.type_debug == 'dict'
    fail_msg: "esxi_advanced_settings parameter must be set with a dictionary."

- name: "Configure ESXi server with advanded system settings"
  community.vmware.vmware_host_config_manager:
    hostname: "{{ vsphere_host_name }}"
    username: "{{ vsphere_host_user }}"
    password: "{{ vsphere_host_user_password }}"
    validate_certs: "{{ validate_certs | default(false) }}"
    esxi_hostname: "{{ esxi_hostname }}"
    options: "{{ esxi_advanced_settings }}"
  delegate_to: localhost
  register: esxi_advanced_settings_result

- name: "Check advanced settings are configured"
  ansible.builtin.assert:
    that:
      - esxi_advanced_settings_result is defined
      - esxi_advanced_settings_result.failed is defined
      - not esxi_advanced_settings_result.failed
    fail_msg: "Failed to configure ESXi server advanced settings"
    success_msg: "{{ esxi_advanced_settings_result.msg | default('ESXi server advanced settings are configured') }}"
