#cloud-config
autoinstall:
  version: 1
  early-commands:
    - echo '{{ autoinstall_start_msg }}' >/dev/ttyS0
  locale: en_US.UTF-8
  keyboard:
    layout: us
  storage:
    layout:
      name: direct
    grub:
      reorder_uefi: False
  timezone: US/Eastern
  identity:
    hostname: ubuntu
    realname: ubuntu
    username: {{ vm_username }}
    password: {{ vm_password_hash }}
  user-data:
    users:
      - name: root
        lock_passwd: false
        hashed_passwd: {{ vm_password_hash }}
        ssh_authorized_keys:
          - {{ ssh_public_key }}
{% if new_user is defined and new_user != 'root' %}
      - name: {{ new_user }}
        lock_passwd: false
        hashed_passwd: {{ vm_password_hash }}
        sudo: ALL=(ALL) NOPASSWD:ALL
        ssh_authorized_keys:
          - {{ ssh_public_key }}
{% endif %}
  apt:
    preserve_sources_list: false
    geoip: true
  late-commands:
    - echo "# apt-get update" >> /dev/ttyS0
    - curtin in-target --target=/target -- apt-get update -y >> /dev/ttyS0
    - echo "# apt-get install build-essential openssh-server open-vm-tools open-vm-tools-desktop cloud-init rdma-core rdmacm-utils ibverbs-utils" >> /dev/ttyS0
    - curtin in-target --target=/target -- apt-get install -y --force-yes build-essential openssh-server open-vm-tools open-vm-tools-desktop cloud-init rdma-core rdmacm-utils ibverbs-utils >> /dev/ttyS0
    - rm -f /etc/cloud/cloud.cfg.d/*-installer.cfg 2>/dev/null
    - sed -i 's/^#PermitRootLogin .*/PermitRootLogin yes/' /target/etc/ssh/sshd_config
    - sed -i 's/^#PasswordAuthentication .*/PasswordAuthentication yes/' /target/etc/ssh/sshd_config
    - echo "{{ autoinstall_complete_msg }}" >> /dev/ttyS0
  shutdown: 'poweroff'
