#cloud-config
autoinstall:
  version: 1
  early-commands:
    - echo '{{ autoinstall_start_msg }}' >/dev/ttyS0
    - echo 'The network interface name is' $(ip -br link show | grep -v lo | awk '{print $1}') >/dev/ttyS0
    - echo '{{ autoinstall_ipv4_msg }}'$(ip -br -4 addr show | grep -v lo | awk '{print $3}') >/dev/ttyS0
  locale: en_US.UTF-8
  keyboard:
    layout: us
  storage:
    layout:
      name: direct
    grub:
      reorder_uefi: False
  timezone: US/Eastern
  identity:
    hostname: ubuntu
    realname: ubuntu
    username: {{ vm_username }}
    password: {{ vm_password_hash }}
  ssh:
    install-server: yes
    allow-pw: yes
    authorized-keys:
      - {{ ssh_public_key }}
  packages:
    - open-vm-tools
    - open-vm-tools-desktop
    - build-essential
    - sg3-utils
    - ndctl
    - rdma-core
    - rdmacm-utils
    - ibverbs-utils
  user-data:
    users:
      - name: root
        lock_passwd: false
        hashed_passwd: {{ vm_password_hash }}
        ssh_authorized_keys:
          - {{ ssh_public_key }}
{% if new_user is defined and new_user != 'root' %}
      - name: {{ new_user }}
        lock_passwd: false
        hashed_passwd: {{ vm_password_hash }}
        sudo: ALL=(ALL) NOPASSWD:ALL
        ssh_authorized_keys:
          - {{ ssh_public_key }}
{% endif %}
  apt:
    preserve_sources_list: false
    geoip: true
  late-commands:
    - rm -f /etc/cloud/cloud.cfg.d/*-installer.cfg 2>/dev/null
    - sed -i 's/^#PermitRootLogin .*/PermitRootLogin yes/' /target/etc/ssh/sshd_config
    - sed -i 's/^#PasswordAuthentication .*/PasswordAuthentication yes/' /target/etc/ssh/sshd_config
    - echo "{{ autoinstall_complete_msg }}" > /dev/ttyS0
  shutdown: 'poweroff'
