# Copyright 2021-2022 VMware, Inc.
# SPDX-License-Identifier: BSD-2-Clause
---
# Reset deploy_casename in case user doesn't provide correct guest_id
- name: "Set fact of the deploy VM test case name"
  ansible.builtin.set_fact:
    deploy_casename: "deploy_ubuntu_ova"

# Add serial port for Ubuntu OVA when hardware_version > 10. Or else, it hangs when during booting
- include_tasks: ../../../common/vm_add_serial_port.yml
  when:
    - vm_hardware_version_num is defined
    - vm_hardware_version_num | int > 10

# Create the seed ISO to modify login information
- include_tasks: ../../utils/create_seed_iso.yml
  vars:
    user_data_template: "ubuntu-ova-user-data.j2"
    local_hostname: "ubuntu-{{ hostname_timestamp }}"
    mode: '0644'

# Upload seed ISO to VM path on ESXi server
- include_tasks: ../../../common/esxi_upload_datastore_file.yml
  vars:
    src_file_path: "{{  seed_iso_path }}"
    dest_file_path: "{{ vm_dir_name }}/{{ seed_iso_path | basename }}"

# Attach seed ISO to Ubuntu Linux VM
- include_tasks: ../../../common/vm_configure_cdrom.yml
  vars:
    cdrom_type: iso
    cdrom_iso_file: "{{ vm_files_path_ds }}/{{ seed_iso_path | basename }}"
    cdrom_controller_num: 0
    cdrom_unit_num: 0

# Power on VM to update login information
- include_tasks: ../../common/vm_set_power_state.yml
  vars:
    vm_power_state_set: 'powered-on'
- name: "Wait 120 seconds for system booting"
  ansible.builtin.pause:
    seconds: 120

# Skip to check guest full name here because we will check it
# in TD1 case
- include_tasks: ../../../common/vm_wait_guest_fullname.yml
  vars:
    wait_guest_fullname: "Ubuntu Linux (64-bit)"

# Get guest ip
- include_tasks: ../../../common/update_inventory.yml
  vars:
    update_inventory_timeout: 300

# Eject seed ISO from guest
- name: "Eject seed ISO from Ubuntu Linux"
  include_tasks: ../../utils/eject_cdrom_in_guest.yml
  vars:
    guest_cdrom_device_num: 0

# Disconnect seed ISO from Ubuntu Linux VM
- name: "Change VM's CD/DVD Drive 1 to client device"
  include_tasks: ../../../common/vm_configure_cdrom.yml
  vars:
    cdrom_type: client
    cdrom_controller_num: 0
    cdrom_unit_num: 0

# Remove temporary folders
- name: "Remove temporary directory {{ tmp_seed_dir }}"
  include_tasks: ../../../common/delete_local_file.yml
  vars:
    local_path: "{{ tmp_seed_dir }}"

# Remove serial port
- include_tasks: ../utils/shutdown.yml

- name: "Remove serial port from VM"
  block:
    - include_tasks: ../../common/vm_remove_serial_port.yml

    - ansible.builtin.fail:
        msg: "Failed to remove serial port from VM"
      when: >
        remove_serial_port is undefined or
        remove_serial_port.changed is undefined or
        not remove_serial_port.changed
  when:
    - vm_hardware_version_num is defined
    - vm_hardware_version_num | int > 10
    - vm_serial_port_file_path is defined
    - vm_serial_port_file_path

- include_tasks: ../../common/vm_set_power_state.yml
  vars:
    vm_power_state_set: 'powered-on'
