{% for item in ubuntu_install_method_setting -%}
    {% for os_item in item.os_version.split("/") -%}
        {% if ubuntu_os_image.find(os_item) != -1 %}
ubuntu_install_method: "{{ item.install_method }}"
ubuntu_install_file: "{{ item.install_file }}"
        {% endif %}
    {%- endfor %}
{%- endfor %}
