#version=RHEL8
ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# License agreement
eula --agreed

# Network information
network --bootproto=dhcp --ipv6=auto
network --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$lFlujSLPNGocjpk6$0p3m.DXrs9gKhpKI4sLY.bSnSj9rqQN5gHgHgWC/aOABXZV1E6IU83aOnW4XIJKVb12cgn1w90cINnDxhdzWR1
user --name=vmware --password=$6$z1H2Axdcrdy0K143$chi68XJ7faxJVto2WVmqwTdQ8Cfb4jd5KjJ8cRj0XLoyJmLxNXzZVvBKeAZIqjuuTugc5z02ImWM/W1CyuuS60 --iscrypted --gecos="vmware"
# X Window System configuration information
xconfig  --startxonboot
# Run the Setup Agent on first boot
#firstboot --enable
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc

# Reboot when the install is finished.
reboot

%packages
@^graphical-server-environment
kexec-tools
open-vm-tools-desktop
cloud-init

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
