#version=RHEL8
ignoredisk --only-use={{ boot_disk_name }}
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# License agreement
eula --agreed

# Network information
network --bootproto=dhcp --ipv6=auto
network --hostname=localhost.localdomain
# Root password
rootpw --iscrypted {{ vm_password_hash }}

# Add SSH key
sshkey --username=root "{{ ssh_public_key }}"

# X Window System configuration information
xconfig  --startxonboot
# Run the Setup Agent on first boot
#firstboot --enable
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc

# Reboot when the install is finished.
reboot

%packages
@^graphical-server-environment
kexec-tools
open-vm-tools-desktop
cloud-init
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --interpreter=/usr/bin/bash --log=/root/ks-post.log
if [ -f /etc/cloud/cloud.cfg ]; then
    sed -i 's/^disable_root:.*/disable_root: false/' /etc/cloud/cloud.cfg
    sed -i 's/^ssh_pwauth:.*/ssh_pwauth: true/' /etc/cloud/cloud.cfg
fi
%end
