#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Do not run gnome-initial-setupgnome-initial-setup on first boot
firstboot --disable
ignoredisk --only-use={{ boot_disk_name }}
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp
network --hostname=localhost.localdomain

# Root password
rootpw --iscrypted {{ vm_password_hash }}

# Add SSH key
sshkey --username=root "{{ ssh_public_key }}"

{% if new_user is defined and new_user != 'root' %}
user --name={{ new_user }} --password={{ vm_password_hash }} --groups=root,wheel --iscrypted --gecos="{{ new_user }}"
sshkey --username={{ new_user }} "{{ ssh_public_key }}"
{% endif %}

# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive={{ boot_disk_name }}
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

#firewall --disable
services --disabled=firewalld
eula --agreed

# Reboot when the install is finished.
reboot


%packages
@^graphical-server-environment
@backup-server
@base
@core
@desktop-debugging
@development
@dial-up
@dns-server
@file-server
@fonts
@ftp-server
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@identity-management-server
@input-methods
@internet-browser
@java-platform
@kde-desktop
@multimedia
@network-file-system-client
@performance
@print-client
@remote-system-management
@system-admin-tools
@virtualization-client
@virtualization-tools
@x11
chrony
kexec-tools
open-vm-tools-desktop
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --interpreter=/usr/bin/bash --log=/root/ks-post.log
# Update sshd config to permit root login
sed -i 's/^PermitRootLogin/d' /etc/ssh/sshd_config
echo 'PermitRootLogin yes' >>/etc/ssh/sshd_config
sed -i 's/^PasswordAuthentication/d' /etc/ssh/sshd_config
echo 'PasswordAuthentication yes' >>/etc/ssh/sshd_config
sed -i 's/^ssh_pwauth:.*/ssh_pwauth: yes/' /etc/cloud/cloud.cfg

{% if new_user is defined and new_user != 'root' %}
# Add new user to sudoer
echo '{{ new_user }} ALL=(ALL) NOPASSWD:ALL' >/etc/sudoers.d/{{ new_user }}
{% endif %}
echo '{{ autoinstall_complete_msg }}' >/dev/ttyS0
%end
