#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp
network --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$lFlujSLPNGocjpk6$0p3m.DXrs9gKhpKI4sLY.bSnSj9rqQN5gHgHgWC/aOABXZV1E6IU83aOnW4XIJKVb12cgn1w90cINnDxhdzWR1
user --name=vmware --password=$6$z1H2Axdcrdy0K143$chi68XJ7faxJVto2WVmqwTdQ8Cfb4jd5KjJ8cRj0XLoyJmLxNXzZVvBKeAZIqjuuTugc5z02ImWM/W1CyuuS60 --iscrypted --gecos="vmware"


# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

#firewall --disable
services --disabled=firewalld
eula --agreed

# Reboot when the install is finished.
reboot


%packages
@^graphical-server-environment
@backup-server
@base
@core
@desktop-debugging
@development
@dial-up
@dns-server
@file-server
@fonts
@ftp-server
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@identity-management-server
@input-methods
@internet-browser
@java-platform
@kde-desktop
@multimedia
@network-file-system-client
@performance
@print-client
@remote-system-management
@system-admin-tools
@virtualization-client
@virtualization-tools
@x11
chrony
kexec-tools
open-vm-tools-desktop

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
